.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;
  /* your code 👇 here */

}

#bulbasaur {
  /* your code 👇 here */

}

#charmander {
  /* your code 👇 here */

}

#squirtle {
  /* your code 👇 here */

}

#pikachu {
  /* your code 👇 here */

}

#jigglypuff {
  /* your code 👇 here */

}
